{% extends 'Appcoder/padre.html' %}

{% block texto_titulo %}
    Cliente
{% endblock %}

{% block contenidoQueCambia %}

<h3> Los Cliente son: </h3>
<table class="table">
    <tr>
        <th>#</th>
        <th>Nombre</th>
    </tr>
    {% for cliente in cliente %}
        <tr>
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nombre}}</td>
        </tr>
    {%endfor%}
    
</table>

    <a class="btn btn-primary" href="{% url 'cliente_formulario' %}">agregar </a>

{% endblock %}