{% extends 'Appcoder/padre.html' %}

{% block texto_titulo %}
    Evento
{% endblock %}

{% block contenidoQueCambia %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4>Gestión de eventos</h4>
      <a class="btn btn-outline-primary btn-sm" href="{% url 'evento_add' %}">Agregar</a>
    </div>
    <div class="card-body table-responsive">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Dirección</th>
              <th scope="col">Altura</th>
              <th scope="col">Fecha de evento</th>
              <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
              {% for evento in evento %}
      
              <tr>
                  <th scope="row">{{evento.id}}</th>
                  <td>{{evento.direccion}}</td>
                  <td>{{evento.altura}}</td>
                  <td>{{evento.fecha_evento}}</td>
                  <td>
                      <a href="{% url 'evento_delete' evento.id %}" class="btn btn-outline-danger  btn-sm">Borrar</a>
                      <a href="{% url 'evento_update' evento.id %}" class="btn btn-outline-warning  btn-sm">Editar</a>
                      <a href="{% url 'evento_view' evento.id %}" class="btn btn-outline-info  btn-sm">Ver</a>
                  </td>
                </tr>
              {%endfor%}
  
          </tbody>
          <tfoot>
              <tr>
                  <td colspan="5"><strong>Total: </strong>{{evento.count}}</td>
              </tr>
          </tfoot>
      </table>
    </div>
  </div>

{% endblock %}